.btn{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 3rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    min-width: 100px;
    border: 2px solid var(--blue);
    
    
}

.outlined-btn{
     background-color: var(--black);
    color: var(--white);
    border-radius: 3rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    min-width: 100px;
    border: 2px solid var(--blue);

}
.outlined-btn:hover{
background-color: var(--blue);
}